@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    /* Kamu bisa tambahkan warna branding Elfan Academy di sini sebagai Designer */
    --color-elfan-blue: #1e40af;
    --color-elfan-gold: #fbbf24;
}
html {
    scroll-behavior: smooth;
}
/* Sesuaikan dengan tinggi h-20 (80px) */
section {
    scroll-margin-top: 80px;
}
/* resources/css/app.css */
section {
    scroll-margin-top: 5rem; /* Menyesuaikan tinggi h-20 (80px) */
}
